/*RESTYLE TAG */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}


/*---------------------------------------------*/

a {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.7;
    color: #0b25ce;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #051420;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #2b1212;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #221919;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-size: 14px;
    line-height: 1;
    color: #000000;
}


/* login*/

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

backgound-image {
    opacity: 0.6;
}

.wrap-login100 {
    width: 500px;
    background: rgb(157, 208, 222);
    border-radius: 30px;
    overflow: hidden;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 39px;
    color: #1d1818;
    line-height: 1.2;
    text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #181313;
}

.label-input100 {
    font-size: 14px;
    color: #0e0f10;
    line-height: 1;
    padding-left: 10px;
}

.input100 {
    font-size: 16px;
    color: #352323;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    padding: 0 7px 0 43px;
}


/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::after {
    content: attr(data-symbol);
    color: #09625f;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 7px;
    padding-top: 3px;
}


/* Button */

.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: rgb(34, 121, 60);
    top: 0px;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

.p-b-49 {
    padding-top: 30px;
}

.p-t-155 {
    padding-top: 60px;
    padding-bottom: 49px;
    padding-left: 50px;
}

.p-b-49 {
    padding-bottom: 49px;
}

.p-b-53 {
    padding-bottom: 53px;
}

.p-l-55 {
    padding-left: 60px;
}

.p-l-81 {
    padding-left: 80px;
}

.p-r-55 {
    padding-right: 60px;
}