/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

.p-b-49 {
    padding-top: 30px;
}

.p-t-155 {
    padding-top: 60px;
    padding-bottom: 49px;
    padding-left: 50px;
}

.p-b-49 {
    padding-bottom: 49px;
}

.p-b-53 {
    padding-bottom: 53px;
}

.p-l-55 {
    padding-left: 60px;
}

.p-l-81 {
    padding-left: 80px;
}

.p-r-55 {
    padding-right: 60px;
}